body {
    background: blanchedalmond;
  }
  /* 
  * {
    border: 1px solid mediumspringgreen;
  }
   */
  div {
    min-width: 20px;
    min-height: 20px;
  }
  
  .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
  }
  
  .a {
    background-color: blueviolet;
    min-height: 18vh;
    width: auto;
    margin: 20px;
    flex-grow: 1;
  }
  
  .b {
    background-color: aqua;
    min-height: 54vh;
    width: auto;
    margin: 0px 20px 20px 20px;
    flex-grow: 5;
  }
  
  .c {
    background-color: blueviolet;
    min-height: 18vh;
    width: auto;
    margin: 0px 20px 20px 20px;
    flex-grow: 1;
  }
  
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .b {
      flex-grow: 3;
    }
  
    .a {
      width: 100%;
      max-height: 32vh;
    }
  
    .c {
      flex-grow: 1;
    }